<!DOCTYPE html>
<html lang = ja>
    <head>
        <meta charset = "UTF-8">
        <title>終了!</title>
        <link href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel = "stylesheet">
    </head>
    <body class = "bg-light">
        <div class = "container mt-5 text-center">
            <h2 class = "mb-4">クイズ終了！</h2>
            <p>あなたの得点は<strong><%= score %> / <%= total%></strong>です!</p>
            <a href = "/" class = "btn btn-primary mt-3">もう一度挑戦する</a>
        </div>
    </body>
</html>