<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0"> 
    <title>結果</title>
    <link href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel = "stylesheet">
</head>
<body class = "bg-light">
    <div class = "container mt-5 text-center">
        <% if(correct) { %>
            <h2 class = "text-success">正解！</h2>
        <% }else{ %>
            <h2 class = "text-danger">不正解．．．</h2>
        <p>正解は <strong><%= answer %></strong>でした！</p>
        <% } %>

        <a href = "/">もう一度挑戦する</a>
    </div>

    <script src = "https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>